<!DOCTYPE html> {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Produce Distro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <header>
        <nav class="main-nav">
            <input type="checkbox" id="isChecked" />
            <label for="isChecked" class="menu-btn">
          <i class="fas fa-bars"></i>
        </label>
            <a href="index.html" class="logo">Smart Crop Distro</a>
            <ul class="nav-links">
                <li><a href="#">Services</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#" class="contact">Contact</a></li>
            </ul>
        </nav>
    </header>
</body>
{% block main %} {% endblock %}

</html>